.navlink,
.active {
  text-decoration: none;
  font-size: var(--fontSizeBodyS);
  padding: var(--spaceM);
  transition: transform var(--durationM) var(--bezierFastoutSlowin);

  &:hover {
    transform: translateY(calc(var(--spaceXS) * -1));
  }

  &[data-type='hamburger'] {
    font-weight: var(--fontWeightMedium);
    font-size: var(--fontSizeH4);
  }
}

.navlink {
  color: var(--colorTextLight);
  font-weight: var(--fontWeightRegular);
}

.active {
  color: var(--colorTextBody);
  font-weight: var(--fontWeightMedium);

  &[data-type='hamburger'] {
    font-size: var(--fontSizeH4);
    color: var(--rgbAccent);
  }
}

.link {
  color: var(--rgbAccent);
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--rgbAccent);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spaceXS);
}
