.section {
  margin-top: calc(var(--space5XL) + var(--spaceXL));
  margin-left: var(--spaceOuter);
  margin-right: var(--spaceOuter);

  @media (--mediaTablet) {
    margin-top: var(--space6XL);
  }
}

.container {
  gap: var(--spaceM);
  max-width: 82rem;
}

.title {
  margin-bottom: var(--spaceL);
}

.button {
  margin-top: calc(var(--spaceL) + var(--spaceM));
  margin-bottom: var(--space2XL);
}
