.section {
  margin-top: calc(var(--space3XL) + var(--space3XL));
  margin-left: var(--spaceOuter);
  margin-right: var(--spaceOuter);
}

.container {
  gap: var(--spaceM);
  max-width: 70rem;
}

.title {
  margin-bottom: var(--spaceL);
}

.button {
  margin-top: calc(var(--spaceL) + var(--spaceM));
}
