body.dark {
  --themeId: 'dark';
  --rgbBackground: rgb(17, 17, 17);
  --rgbBackgroundLight: rgb(26, 26, 26);
  --rgbBackgroundExtraLight: rgba(26, 26, 26, 0.99);
  --rgbPrimary: rgb(234, 76, 137);
  --rgbSecondary: rgb(25, 25, 25);
  --rgbAccent: rgb(234, 76, 137);
  --rgbText: rgb(255, 255, 255);
  --rgbError: rgb(255, 55, 102);
  --colorTextTitle: rgb(255, 255, 255, 1);
  --colorTextBody: rgb(255, 255, 255, 0.8);
  --colorTextLight: rgb(255, 255, 255, 0.6);
  --colorTextExtraLight: rgb(255, 255, 255, 0.1);
  --shadowColor: rgba(25, 25, 25, 0.1);
  --shadowColor2: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;
}

body.light {
  --themeId: 'light';
  --rgbBackground: rgb(242, 242, 242);
  --rgbBackgroundLight: rgb(255, 255, 255);
  --rgbBackgroundExtraLight: rgba(255, 255, 255, 0.99);
  --rgbPrimary: rgb(0, 0, 0);
  --rgbSecondary: rgb(255, 255, 255);
  --rgbAccent: rgb(255, 99, 195);
  --rgbText: rgb(0, 0, 0);
  --rgbError: rgb(255, 0, 60);
  --colorTextTitle: rgb(0, 0, 0, 1);
  --colorTextBody: rgb(0, 0, 0, 0.8);
  --colorTextLight: rgb(0, 0, 0, 0.6);
  --colorTextExtraLight: rgb(0, 0, 0, 0.1);
  --shadowColor: rgba(0, 0, 0, 0.09);
  --shadowColor2: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
