@font-face {
  font-family: 'Gotham';
  font-weight: 400;
  src: url('../assets/fonts/gotham-book.woff2') format('woff2');
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  font-weight: 500;
  src: url('../assets/fonts/gotham-medium.woff2') format('woff2');
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  src: url('../assets/fonts/gotham-bold.woff2') format('woff2');
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Impact';
  font-weight: 700;
  src: url('../assets/fonts/impact.woff') format('woff');
  font-display: block;
  font-style: normal;
}
