.section {
  margin-top: calc(var(--space5XL) + var(--spaceXL));
  margin-left: var(--spaceOuter);
  margin-right: var(--spaceOuter);
  gap: var(--space3XL);

  @media (--mediaTablet) {
    margin-top: var(--space6XL);
  }

  @media (--mediaMobile) {
    margin-top: calc(var(--space6XL) + var(--space6XL));
  }
}

.container {
  cursor: pointer;
  gap: var(--spaceL);
  padding: var(--spaceM);
  margin: var(--spaceS);
  box-shadow: var(--shadowColor2);
  border-radius: var(--borderRadius1);

  &:hover {
    box-shadow: var(--shadowColor3);
  }

  @media (--mediaMobileS) {
    flex-direction: column;
  }
}

.socialContainer {
  gap: var(--spaceXL);

  & .social {
    padding: calc(var(--spaceS) + 0.3rem);
    border-radius: var(--borderRadius4);
    background-color: var(--rgbPrimary);
    color: var(--rgbWhite);
    font-size: var(--fontSizeH5);
    transition: var(--backgroundChangeTransitionXS), scale var(--durationL);

    &:hover {
      scale: 0.9;
    }
  }
}
