.section {
  margin-top: calc(var(--space5XL) + var(--spaceXL));
  margin-left: var(--spaceOuter);
  margin-right: var(--spaceOuter);
  gap: var(--space3XL);

  @media (--mediaTablet) {
    margin-top: var(--space6XL);
  }

  @media (--mediaMobile) {
    margin-top: calc(var(--space6XL) + var(--space2XL));
  }
}

.cardContainer {
  gap: var(--spaceL);
}
