.container {
  gap: var(--space2XL);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--spaceM);

  @media (--mediaMobile) {
    gap: var(--spaceS);
  }

  @media (--mediaMobileS) {
    grid-template-columns: 1fr 1fr;
  }
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  align-items: center;
  gap: var(--spaceS);
  font-size: var(--fontSizeBodyM);
  padding: var(--spaceL);
  border-radius: var(--borderRadius2);
  background-color: var(--rgbSecondary);
  box-shadow: var(--shadowColor) 0px 3px 12px;

  transition: scale var(--durationS) var(--bezierFastoutSlowin);

  &:hover {
    scale: 1.05;
  }

  @media (--mediaMobile) {
    flex-direction: column;
    padding: var(--spaceM);
  }
}

.text,
.icon {
  color: var(--colorTextBody);

  @media (--mediaMobile) {
    &[data-size='m'] {
      font-size: var(--fontSizeBodyS);
    }
  }
}
