.container {
  gap: var(--space2XL);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--spaceM);
}

.item {
  cursor: pointer;
  align-items: center;
  gap: var(--spaceS);
  font-size: var(--fontSizeBodyM);
  padding: var(--spaceL);
  border-radius: var(--borderRadius2);
  background-color: var(--rgbBackground);
  box-shadow: var(--shadowColor) 0px 3px 12px;

  transition: scale var(--durationS) var(--bezierFastoutSlowin);

  &:hover {
    scale: 1.05;
  }
}
