.icon {
  color: var(--colorTextBodyTitle);
  cursor: pointer;
  transition: var(--colorChangeTransitionXS);

  &[data-type='link'] {
    color: var(--rgbAccent);
  }

  &[data-type='button'] {
    color: var(--rgbBackground);
  }

  &[data-type='white'] {
    color: var(--rgbBlack);
  }
}
