.navbar {
  position: fixed;
  padding: var(--spaceL) var(--spaceOuter);
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* backdrop-filter: blur(100px); */
  /* background: calc(var(--rgbBackground) / 0.9); */
  background: var(--rgbBackground);
  z-index: var(--zIndex5);
}

.logo {
  padding: 0;
  text-decoration: none;
}

.items {
  @media (--mediaMobile) {
    display: none;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--spaceM);
}

.buttonText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spaceS);
}

.menu {
  display: none;
  color: var(--colorTextBody);

  @media (--mediaMobile) {
    display: flex;
  }
}
