.navbar {
  position: fixed;
  padding: var(--spaceL) var(--spaceOuter);
  top: 0;
  left: 0;
  right: 0;
  /* backdrop-filter: blur(100px); */
  /* background: calc(var(--rgbBackground) / 0.9); */
  background: var(--rgbBackground);
}

.logo {
  padding: 0;
  text-decoration: none;
}

.items {
  @media (--mediaMobile) {
    display: none;
  }
}

.button {
  margin-left: var(--spaceM);
}

.menu {
  display: none;
  color: var(--colorTextBody);

  @media (--mediaMobile) {
    display: flex;
  }
}
