.section {
  margin-top: var(--space6XL);
  margin-bottom: var(--space6XL);
}

.content {
  margin-top: var(--space6XL);
  gap: var(--space5XL);

  @media (--mediaTablet) {
    flex-direction: column;
  }

  & .image {
    position: relative;
    max-width: 42rem;
    display: flex;
    flex-direction: column;
    gap: var(--spaceL);
  }

  & .details {
    max-width: 45rem;
    gap: var(--spaceL);
  }
}

.waveContainer {
  padding-bottom: var(--spaceS);

  & .wave {
    font-size: var(--fontSizeH3);
    animation-name: wave-animation;
    animation-duration: calc(var(--durationS) * 10);
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
