.name {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--fontSizeBodyM);
  letter-spacing: 0.3em;
  color: var(--colorTextBody);
  margin-top: 0;
  margin-bottom: var(--spaceS);
  font-weight: var(--fontWeightMedium);
  line-height: 1;
  transition: opacity var(--durationL) var(--bezierFastoutSlowin) 0.2s;
}

.title {
  margin-top: 0;
}

.description {
  max-width: var(--maxWidthXM);
}

.blob {
  position: absolute;
  width: 100%;
  height: 100%;
}

.talk {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spaceS);
}

.scroll:before,
.scroll:after {
  content: '';
  display: block;
  width: var(--fontSizeBodyXXS);
  height: var(--fontSizeBodyXXS);
  transform: rotate(45deg);
  border-bottom: 1px solid var(--colorTextBody);
  border-right: 1px solid var(--colorTextBody);
  margin-right: var(--spaceM);
}

.scroll:before {
  animation: down-arrow-before 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

.scroll:after {
  animation: down-arrow-after 2.6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes down-arrow-before {
  50% {
    transform: rotate(45deg) translate(70%, 70%);
  }
  100% {
    transform: rotate(45deg) translate(70%, 70%);
  }
}

@keyframes down-arrow-after {
  50% {
    transform: rotate(45deg) translate(110%, 110%);
    opacity: 0;
  }
  51% {
    transform: rotate(45deg) translate(-130%, -130%);
  }
}
