.project {
  margin-top: var(--space6XL);
  gap: var(--space5XL);

  @media (--mediaTablet) {
    flex-direction: column;

    &[data-fullscreen='true'] {
      width: auto;
      height: auto;
    }
  }
}

.image {
  max-width: 56rem;
}

.details {
  max-width: 45rem;
}

.title {
  margin-bottom: var(--spaceM);
}

.status {
  color: var(--rgbAccent);
  margin-bottom: var(--spaceL);
}

.description {
  margin-bottom: var(--spaceL);
}

.buttonContainer {
  gap: var(--spaceL);

  @media (--mediaMobileS) {
    flex-direction: column;
  }
}
