.project {
  margin-top: var(--space4XL);
  gap: var(--space4XL);

  @media (--mediaTablet) {
    flex-direction: column;

    &[data-fullscreen='true'] {
      width: auto;
      height: auto;
    }
  }
}

.image {
  max-width: var(--maxWidthM);
  min-width: var(--minWidthL);
}

.details {
  min-width: var(--minWidthM);
}

.title {
  color: var(--rgbAccent);
  margin-bottom: var(--spaceM);
}

.description {
  margin-bottom: var(--spaceL);
}

.buttonContainer {
  gap: var(--spaceL);
}
