.section {
  max-width: var(--minWidthL);
}

.title {
  margin-bottom: var(--spaceM);
}

.projectNo {
  margin-bottom: var(--spaceL);
}

.toolsHeading {
  color: var(--rgbAccent);
  margin-bottom: var(--spaceL);
}

.tools {
  gap: var(--spaceL);
  margin-bottom: var(--spaceL);
}

.status {
  color: var(--rgbAccent);
  margin-bottom: var(--spaceL);
}

.description {
  margin-bottom: var(--spaceXL);
}

.buttons {
  display: flex;
  width: 100%;
  gap: var(--spaceL);

  @media (--mediaMobile) {
    flex-direction: column;
    gap: var(--spaceS);
  }
}

.disabled {
  position: relative;

  &:hover {
    & .tooltip {
      display: flex;
      opacity: 1;
    }
  }
}

.tooltip {
  opacity: 0;
  position: absolute;
  display: none;
  background-color: var(--rgbError);
  color: var(--rgbWhite);
  top: calc(var(--spaceL) * -1);
  right: calc(var(--spaceL) * -4);
  font-size: var(--fontSizeBodyXXS);
  padding: var(--spaceS);
  border-radius: var(--borderRadius1) var(--borderRadius1) var(--borderRadius1)
    0;
  box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.2);

  @media (--mediaMobile) {
    top: calc(var(--spaceL) * -1);
    right: calc(var(--spaceL));
  }
}
