.section {
  margin-top: var(--space6XL);
  margin-bottom: var(--space6XL);
  margin-left: var(--spaceOuter);
  margin-right: var(--spaceOuter);
  gap: var(--space5XL);

  @media (--mediaMobile) {
    gap: calc(var(--space5XL) + var(--spaceM));
  }
}
