.section {
  margin-top: var(--space6XL);
  margin-left: var(--spaceOuter);
  margin-right: var(--spaceOuter);
}

.wrapper {
  max-width: 85rem;
}

.content {
  flex-direction: column;
  max-width: 100%;
  gap: var(--space3XL);
}

.list {
  min-width: var(--minWidthS);
  max-width: 100%;
}

.heading {
  margin-bottom: var(--space3XL);
}

.demo {
  gap: var(--space5XL);
  margin-top: var(--space5XL);

  & .imageContainer {
    margin-bottom: var(--space3XL);
    flex-wrap: wrap;
    gap: 1%;
  }

  & .iframe {
    width: 100%;
    height: 48rem;
  }
}
