.container {
  display: flex;
  gap: 1rem;
  z-index: var(--zIndex3);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: var(--shadowColor2);
  padding: var(--spaceXS);
  border-radius: var(--borderRadius1);

  @media (--mediaMobile) {
    /* width: 100%;
    overflow: auto; */
    /* margin-top: var(--spaceS);
    margin-bottom: calc(var(--space2XL) * -1); */
  }

  & .normal,
  & .active {
    padding: var(--spaceXS) var(--spaceM);
    border-radius: var(--borderRadius0);
    cursor: pointer;
    transition: var(--backgroundChangeTransitionXS),
      var(--colorChangeTransitionXS);
  }

  & .normal {
    & .text {
      color: var(--colorTextLight);

      @media (--mediaMobile) {
        font-size: var(--fontSizeBodyS);
      }
    }
  }

  & .active {
    background-color: var(--rgbPrimary);

    & .text {
      color: var(--rgbWhite);
    }
  }
}
