.content {
  margin-top: calc(var(--space5XL) + var(--spaceXL));
  margin-bottom: var(--space4XL);
  margin-left: var(--spaceOuter);
  margin-right: var(--spaceOuter);
  gap: var(--space3XL);

  @media (--mediaTablet) {
    margin-top: var(--space6XL);
  }
}
