.container {
  width: 100%;
  height: 100%;
}

.image {
  width: var(--maxWidthS);
  height: var(--maxWidthS);
  transition: scale var(--durationS) var(--bezierFastoutSlowin);
  /* &:hover {
    scale: 1.02;
  } */
  &[data-round='true'] {
    border-radius: var(--borderRadius2);
  }
}
