.container {
  width: 100%;
  align-items: flex-start;
}

.iframe {
  width: 100%;
  height: var(--minWidthM);
}

.heading {
  margin-top: var(--space3XL);
}

.image {
  margin-top: var(--space2XL);
}

.paragraph {
  margin-top: var(--space2XL);
}
