.name {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--fontSizeBodyM);
  letter-spacing: 0.3em;
  color: var(--colorTextBody);
  margin-top: 0;
  margin-bottom: var(--spaceS);
  font-weight: var(--fontWeightMedium);
  line-height: 1;
  transition: opacity var(--durationL) var(--bezierFastoutSlowin) 0.2s;
}

.title {
  margin-top: 0;
}

.description {
  max-width: var(--maxWidthXM);
}


.blob {
  position: absolute;
  width: 100%;
  height: 100%;
}
